<div class="row">
    <div ng-if="$ctrl.state == 1">
        <table st-table="$ctrl.rowCollection" class="table table-bordered">
            <thead>
                <tr>
                    <th st-sort="firstName">first name</th>
                    <th st-sort="lastName">last name</th>
                    <th st-sort="birthDate">birth date</th>
                    <th st-sort="balance" st-skip-natural="true">balance</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in $ctrl.rowCollection" ng-click="$ctrl.state = 2">
                    <td>{{row.firstName | uppercase}}</td>
                    <td>{{row.lastName}}</td>
                    <td>{{row.birthDate | date}}</td>
                    <td>{{row.balance | currency}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-if="$ctrl.state == 2">
        <h4>선수성적</h4>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td colspan="2">문의 드려요</td>
                    <td>처리완료</td>
                </tr>
                <tr>
                    <td>문의 드려요</td>
                    <td>14.05.05</td>
                    <td>처리완료</td>
                </tr>
                <tr>
                    <td>문의 드려요</td>
                    <td>14.05.05</td>
                    <td>처리완료</td>
                </tr>
            </tbody>
        </table>
        <h4>최근 경기성적</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>제목</th>
                    <th>문의일</th>
                    <th>처리상태</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>베팅 결과가 이상합니다.</td>
                    <td>14.05.05</td>
                    <td>처리중</td>
                </tr>
                <tr>
                    <td>선수 참여 여부</td>
                    <td>14.05.05</td>
                    <td>처리완료</td>
                </tr>
                <tr>
                    <td>답변바랍니다.</td>
                    <td>14.05.05</td>
                    <td>처리완료</td>
                </tr>
                <tr>
                    <td>문의 드려요</td>
                    <td>14.05.05</td>
                    <td>처리완료</td>
                </tr>
                <tr>
                    <td>문의 드려요</td>
                    <td>14.05.05</td>
                    <td>처리완료</td>
                </tr>
                <tr>
                    <td>문의 드려요</td>
                    <td>14.05.05</td>
                    <td>처리완료</td>
                </tr>
                <tr>
                    <td>문의 드려요</td>
                    <td>14.05.05</td>
                    <td>처리완료</td>
                </tr>
            </tbody>
        </table>
        <div class="text-center">
            <button class="btn btn-primary" ng-click="$ctrl.state = 1" type="button">선수 랭킹 보기</button>
        </div>
    </div>
</div>
